/*--------------- NAVBAR -----------------*/

$black: #000000;
$red: #ec0c22;
$red-dark: rgb(139, 10, 10);
$orange: #e45218;
$yellow: #ffee00;
$white: #FFF;

.menu {
    background: $black;
    height: 4rem;
}

.ol {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

> ol {
    max-width: 1000px;
    padding: 0 2rem;
    display: flex;
}

    > .menu-item {
        flex: 1;
        padding: 0.75rem 0;

    }

        &::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            bottom: 5px;
            left: calc(50% - 2px);
            background: $white;
            will-change: transform;
            transform: scale(0);
            transition: transform 0.2s ease;
        }

        &:hover:after {
            transform: scale(1);
        }

    &-item {
        position: relative;
        line-height: 2.5rem;
        text-align: center;
    }

    a {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        color: $white;
    }

    &at-root .sub-menu & {
        padding: 00.75rem 0;
        background: $red;
        opacity: 0;
        transform-origin: bottom;
        animation: enter 0.2s ease forwards;
    }

    @for $n from 1 through 3 {
        &:nth-child(#{$n}) 
        animation-duration: 0.2s + 0.1s * ($n -1)
        animation-delay: 0.1s * ($n -1)
    }



